/Interficie/
/UntitledProject1/
/venv/
/dades/esquema/*.*
/src/dades/esquema/
/.idea/*.*
/src/dades/Diagrams/*
/src/dades/.dbeaver/*
/src/dades/sabers.csv
/src/dades/dades.db.sql
/src/dades/.project
/.idea
/tests/.coverage
