/.venv
/src/progpy/dades/esquema/*.*
/.idea/*.*
/src/progpy/dades/Diagrams/*
/src/progpy/dades/.dbeaver/*
/src/progpy/dades/introduccio/*
/src/progpy/dades/sabers.csv
/src/progpy/dades/dades.db.sql
/src/progpy/dades/.project
/src/progpy.egg-info/*
/.idea
/.vscode/
/src/progpy/moduls/__pycache__
tests/__pycache__
/sonarauto
src/progpy/__pycache__
/src/__pycache__
coverage.xml
.coverage
src/__pycache__/*.*
src/moduls/__pycache__/*.*
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/progpy/moduls/bbdd/__pycache__
src/progpy/moduls/gui/__pycache__
Interficie
